:root {
    --card-width: 8vw;
    --card-height: 11.2vw;
    --dark-purple: #522745;
    --light-purple: #793b61;
}

@font-face {
    font-family: "determination-mono";
    src: url("DeterminationMonoWebRegular-Z5oq.ttf");
}

html {
    background-color: var(--dark-purple);
}

body {
    margin: 0;
    background: url(undertaleImg/cardOutline.png) no-repeat center;
    background-size: 50vw;
    /* background-position: center;
    background-size: cover; */
    color: white;
    font-family: "determination-mono", sans-serif;
    min-height: 100%;
}

#flippy {
    background-color: black;
    padding: 2vw;
    border: white 0.5vw solid;
    outline: black 0.5vw solid;
}

#matchy {
    background-color: black;
    padding: 2vw;
    border: white 0.5vw solid;
    outline: black 0.5vw solid;
}

h1 {
    font-size: 3.5vw;
    text-align: center;
}

#ui-container {
    text-align: center;
    margin-bottom: 10vw;
}

#ui-container h3 {
    margin: 0;
    display: inline-block;
    font-size: 2vw;
    text-align: center;
}

#ui-container h3:first-child {
    margin-right: 4vw;
}

/* #game-container {

} */

#card-container {
    font-size: 0;
    width: calc((var(--card-width) + 1vw + 1.2vw) * 4);
    margin: 0 auto;
    padding-left: 5vw;
    padding-bottom: 8vw;
}

.card {
    display: inline-block;
    position: relative;
    margin: 0.5vw;
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid transparent;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

/* Style the two logo images themselves. */
.card-down,
.card-up {
    /* Take images out of the flow. */
    position: absolute;

    width: 100%;
    height: 100%;

    /* When facing away from the screen each image should be hidden. */
    backface-visibility: hidden;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.card-down {
    background-image: url(undertaleImg/card.png);
    background-position: center;
    background-size: cover;
}

.card-up {
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}

.flipped .card-down {
    transform: rotateY(180deg);
}

.flipped .card-up {
    transform: rotateY(0deg);
}

.image-1 .card-up {
    background-image: url(undertaleImg/image-1.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.image-2 .card-up {
    background-image: url(undertaleImg/image-2.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.image-3 .card-up {
    background-image: url(undertaleImg/image-3.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.image-4 .card-up {
    background-image: url(undertaleImg/image-4.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.image-5 .card-up {
    background-image: url(undertaleImg/image-5.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.image-6 .card-up {
    background-image: url(undertaleImg/image-6.png),
        linear-gradient(#72dbf4, #72dbf4);
}

.glow {
    border: 1px solid transparent;
    transition: border 0.1s linear, box-shadow 0.1s linear;
}

@keyframes border-glow {
    from {
        border: 2px solid transparent;
        box-shadow: none;
    }

    80% {
        border-color: blue;
        box-shadow: 0 0 10px blue;
    }

    to {
        border: 2px solid transparent;
        box-shadow: none;
    }
}

.border-glow {
    animation: border-glow 1s;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

.reset-btn {
    padding: 2vw 4vw;
    background-color: var(--light-purple);
    color: white;
    border: 0px;
    border-radius: 1vw;
    font-family: "determination-mono", sans-serif;
    font-size: 1vw;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: #371b2d;
}

/* footer img {
    width: 100%;
} */

footer {
    margin-top: 3vw;
    background: url(undertaleImg/footer.png) no-repeat center;
    background-size: 100%;
    border: 1px solid var(--dark-purple);
}

footer p {
    visibility: hidden;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .btn-container {
        display: flex;
        justify-content: center;
        padding-top: 10vw;
    }

    #ui-container {
        text-align: center;
        margin-bottom: 0;
    }

    #card-container {
        font-size: 0;
        width: calc((var(--card-width) + 1vw + 1.2vw) * 4);
        margin: 0 auto;
        padding-left: 4vw;
        padding-top: 12vw;
        padding-bottom: 0;
    }
}

@media (max-width: 540px) {
    .btn-container {
        display: flex;
        justify-content: center;
        padding-top: 16vw;
    }

    #ui-container {
        text-align: center;
        margin-bottom: 0;
    }

    #card-container {
        font-size: 0;
        width: calc((var(--card-width) + 1vw + 1.2vw) * 4);
        margin: 0 auto;
        padding-left: 2vw;
        padding-top: 19vw;
        padding-bottom: 0;
    }

    footer {
        margin-top: 2vw;
        background: url(undertaleImg/footer.png) no-repeat center;
        background-size: 100%;
        border: 1px solid var(--dark-purple);
    }
}
